<header>
  <h1 class="title">Admin Lounge</h1>

  <div class="admin">
     <h2>Admin Links</h2>
     <ul class="nav">
       <li><%= link_to icon("fas", "user", "Users"), admin_users_path %></li> 
     </ul>     
  </div>
</header>