<header>
  <h1 class="title">List of Projects</h1>

  <% admins_only do %>
    <div class="actions">
      <%= link_to icon("fas", "plus", "New Project"),
          new_admin_project_path, class: "button is-primary is-rounded" %>      
    </div>
  <% end %>
</header>

<div id="projects">
  <% @projects.each do |project| %>
    <h2><%= link_to project.name, project %></h2>
      <p><%= project.description %></p>
  <% end %>
</div>