<header>
  <h1 class="title">List of Projects</h1>

  <div class="actions">
    <%= link_to icon("fas", "plus", "New Project"),
        new_project_path, class: "button is-primary is-rounded" %>      
  </div>
</header>

<div id="projects">
  <% @projects.each do |project| %>
    <h2><%= link_to project.name, project %></h2>
      <p><%= project.description %></p>
  <% end %>
</div>

<header>
  <h2 class="title">Tickets</h2>

  <div class="actions">
    <%= link_to icon("fas", "plus", "New Ticket"),
        new_project_ticket_path(@project), class: "button is-primary is-rounded" %>      
  </div>
</header>