/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "projects";
 @import "bulma";

header {
  position: relative;
  padding-bottom: 0em;    
  margin-bottom: 0.5em;  
  
  &:first-child {
    margin-top: 20px;
  }    
}

div.actions {
  position: absolute;
  bottom: -2px;
  right: 2px;    
}

@media (max-width: 567px) {
  div.actions {
    position: relative;   
  }  
}

.notification {
  @extend .notification;
  margin-top: 1.3em;  
}

.notification-notice { @extend .is-success; }

.notification-alert { @extend .is-danger; }

form { max-width: 500px; }

.fas { padding-right: 0.3em; }

.checkbox input { margin: 0em 0.3em 0em 0em; }

